/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
/* @import url(swiper.min.css); */
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 400;
     color: #2e2d2d;
     font-size: 17px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


:root {
     --label-color: #656D78;
}

.promo-banner {
     background-color: #ffcc00; /* Change this to your preferred background color */
     color: #000; /* Change this to your preferred text color */
     text-align: center;
     padding: 10px;
     font-size: 18px;
     font-weight: bold;
     margin-top: 10px; /* Adjust as needed */
     border-radius: 5px; /* Optional: adds rounded corners */
 }

/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/

.header {
     width: 100%;
     height: 86px;
     padding: 24px 60px;
     background: #fff;
}


.logo {
     position: relative;
     top: -0.5em;
}


.logo a img {
     z-index: 4;
     position: relative;
     max-width: 125px;
     margin-top: -0.5rem;
}

.logo::before {
     position: absolute;
     content: "";
     /* background-color: #2e2d2d; */
     width: 385px;
     height: 86px;
     left: -75px;
     top: -24px;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 8px 20px;
     color: #2e2d2d;
     font-size: 16px;
     line-height: 20px;
     font-weight: 500;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #fff;
     background-color: #2e2d2d;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fff;
     background-color: #2e2d2d;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

ul.social_icon {
     padding-top: 3px;
     float: right;
}

ul.social_icon.foot {
     float: left;
}

ul.social_icon.foot a {
     background-color: #ffffff ;
}

ul.social_icon.foot i {
     color: #222222;
}


ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 17px;
     border-radius: 30px;
     margin: 0 3px;
     color: #fff;
     background-color: #000000;
     width: 32px;
     height: 32px;
}

ul.social_icon li a:hover {
     color: #fff;
     background-color: #fa8c17;
}


/** banner section **/

/* .banner_main::before {
     position: absolute;
     content: "";
     background-color: #2e2d2d;
     width: 370px;
     height: 764px;
     left: 0;
} */

.banner1 {
     position: relative;
     padding: 50px 0 50px 0;
}

.relative {
     position: inherit;
     padding: 0;
     text-align: center;
}

.relative span {
     color: #ddd;
}

.relative h1 {
     font-size: 74px;
     line-height: 80px;
     font-weight: 500;
     color: #2e2d2d;
}

.relative p {
     color: #2e2d2d;
     padding-bottom: 70px;
}

.get_btn {
     background-color: #2e2d2d;
     color: #fff;
     text-align: center;
     max-width: 216px;
     width: 100%;
     height: 40px;
     font-size: 17px;
     display: block;
     padding: 4px 0;
}

.get_btn:hover {
     color: #fa8c17;
}

.bann_img {
     padding-left: 59px;
     padding-right: 20px;
     object-fit: cover;
     /* object-position: center center; */
     height: 549px;
     width: 791px;

}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     width: 55px;
     height: 55px;
     background: #2e2d2d;
     opacity: 1;
     font-size: 20px;
     color: #ffffff;
     top: 90%;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
     background: #ececec;
     color: #2e2d2d;
}

#myCarousel .carousel-control-prev {
     left: inherit;
     right: 100px;
}

#myCarousel .carousel-control-next {
     right: 30px;
}

.banner .carousel-indicators li {
     width: 20px;
     height: 20px;
     border-radius: 30px;
     background: #000;
}

.carousel-indicators {
     display: none;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 40px;
     margin-top: 1.4em;
}

.titlepage h2 {
     font-size: 45px;
     color: #2e2d2d;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
     margin: 0;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #2e2d2d;
     color: #fff;
     padding: 12px 0px;
     width: 100%;
     max-width: 150px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     height: 56px;
     border-radius: 15px;
}

.read_more:hover, .banner_main > div .read_more:hover, .service-title:hover, .link-icons > a:hover {
     background: #fa8c17;
     color: #fff;
     transition: ease-in all 0.5s;
     cursor: pointer;
}

/** What We Do section **/

.we_do {
     padding-top: 55px;
     padding-bottom: 60px;
     background-color: #fff;
     position: relative;
}

.we_box {
     text-align: center;
     margin-bottom: 30px;
}

.we_box i {
     border-radius: 50%;
     border: #404040 solid 1px;
     width: 210px;
     height: 210px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 0 auto;
}

.we_box h3 {
     font-size: 24px;
     font-weight: bold;
     line-height: 25px;
     padding-bottom: 5px;
     color: #2e2d2d;
     padding-top: 30px;
}


/** end What We Do section **/


/** end team section **/

.about {
     background-color: #fff;
     padding-top: 5px;
     position: relative;
     padding-bottom: 50px;
}

.about .titlepage {
     text-align: left;
     padding-bottom: 0;
}

.about .titlepage h2 {
     margin-bottom: 30px;
}

.about .titlepage p {
     font-weight: 400;
     font-size: 17px;
     line-height: 28px;
     padding-bottom: 40px;
}

.about_img {
     overflow: hidden;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
     transition: all .5s;
}

.about_img figure img:hover {
     transform: scale(1.2);
}


/** our pricing section **/

.pricing {
     background-color: #fff;
     padding: 90px 0 170px 0;
     position: relative;
}

.pricing .titlepage {
     text-align: center;
     padding-bottom: 45px;
}

.pricing_box {
     border: #727272 solid 1px;
     padding: 74px 101px 80px 101px;
}

.pricing_box_ti {
     text-align: center;
}

.pricing_box_ti h3 {
     font-size: 40px;
     font-weight: bold;
     padding-bottom: 5px;
}

.pricing_box_ti h3::before {
     position: absolute;
     content: "";
     background-color: #ddd;
     width: 84px;
     height: 4px;
     border-radius: 5px;
     bottom: 0;
}

.pricing_box_ti h3 span {
     color: #7321cd;
}

.pricing_box_ti h3 strong {
     font-size: 15px;
     font-weight: normal;
}

.our_pricing {
     text-align: center;
}

.our_pricing span {
     text-transform: uppercase;
     font-size: 25px;
     font-weight: bold;
     line-height: 25px;
     padding-bottom: 20px;
     color: #2e2d2d;
     padding-top: 30px;
     display: block;
}

.our_pricing p {
     line-height: 39px;
}

.mar_top {
     margin-top: -20px !important;
     margin: 0 auto;
     display: block;
     max-width: 142px;
     height: 40px;
     padding: 4px 0;
     font-weight: normal;
     margin-bottom: 30px;
}
/** end our pricing section **/


/** Experts section **/
.experts {
     background-color: #fff;
     padding: 47px 0 80px 0;
     position: relative;
}

.experts .titlepage {
     text-align: center;
     padding-bottom: 45px;
}

.experts .experts_box {
     text-align: left;
     background-color: #fff;
     transition: ease-in all 0.5s;
}

.experts .experts_box .experts_img {
     overflow: hidden;
}

.experts .experts_box .experts_img figure {
     margin: 0;
}

.experts .experts_box .experts_img figure img {
     width: 100%;
     transition: all .5s;
     border: transparent solid 20px;
}

.experts .experts_box .meet {
     padding: 33px 30px;
     text-align: center;
}

.experts .experts_box .meet h3 {
     color: #343434;
     font-size: 25px;
     line-height: 20px;
     padding-bottom: 12px;
     transition: ease-in all 0.5s;
     margin: auto;
     text-transform: uppercase;
     font-weight: bold;
}

.experts .experts_box .meet p {
     font-size: 17px;
     line-height: 28px;
}

.exper {
     max-width: 171px;
     height: 47px;
     padding: 9px 0;
     margin-top: 10px !important;
     margin-bottom: 0;
}


/** end Experts section **/


/** contact section **/

.contact {
     background: #fff;
     margin-top: 90px;
     position: relative;
}

/* .contact::before {
     position: absolute;
     content: "";
     right: 0;
     background: url(../images/co_right.png);
     background-repeat: no-repeat;
     width: 156px;
     height: 283px;
     top: 14%;
} */




.popup {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.7);
     display: block;
     z-index: 9999;
   }
   
.popup-content {
     position: absolute;
     top: 50%;
     left: 50%; 
     transform: translate(-50%, -50%);
     max-width: 90%;
     max-height: 90%;
     background-color: #fff;
     text-align: center;
     /* padding: 20px; */
     box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

   .popup-content img {
     max-width: 100%;
     height: auto;
   }
   
   .close {
     position: absolute;
     top: 0;
     right: 0;
     padding: 10px;
     opacity: 1;
     color: #000000;
     cursor: pointer;
   }
   
   /* Media Query for Mobile Screens */
   .popup-content i {
     font-size: 30px;
   }



.main_form label {
     font-size: 1.2em;
}

.main_form .contactus {
     border: #fff solid 1px;
     /* padding: 0 15px; */
     margin-bottom: 25px;
     width: 100%;
     height: 58px;
     background: #fff;
     color: #434a54;
     /* font-size: 18px; */
     font-weight: lighter;
     box-shadow: 0px 0px 13px rgba(14, 14, 13, 0.17);
}

.main_form .textarea {
     border: #fff solid 1px;
     margin-bottom: 25px;
     width: 100%;
     background: #fff;
     color: #434a54;
     /* font-size: 18px; */
     font-weight: lighter;
     padding: 0px 20px 0 0px;
     box-shadow: 0px 0px 13px rgba(14, 14, 13, 0.17);
     height: 150px;
}

.main_form .send_btn {
     font-size: 20px;
     transition: ease-in all 0.5s;
     background-color: #2e2d2d;
     text-transform: uppercase;
     color: #fff;
     padding: 10px 0px;
     max-width: 193px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: 500;
     margin-bottom: 60px !important;
     margin: 0 auto;
}

.main_form .send_btn:hover {
     background-color: #fa8c17;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #737272;
     opacity: 1;
}


/** end contact section **/


/** footer **/

.footer {
     background: #222222;
     padding-top: 35px;
     text-align: center;
}

.footer h3 {
     font-weight: 600;
     font-size: 17px;
     line-height: 19px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
     display: table;
     text-transform: uppercase;
}

.variat {
     color: #757575;
     text-align: left;
     padding-right: 40px;
}

ul.conta {
     text-align: left;
     margin-bottom: 25px;
}

ul.conta li {
     color: #fff;
     text-align: left;
     padding-bottom: 20px;
     font-size: 17px;
     display: inline-block;
     padding-right: 5px;
}

ul.conta li:last-child {
     padding-right: 0;
}

ul.conta li > i {
     padding-right: 5px;
     text-align: center;
     font-size: 16px;
}
ul.conta li {
     font-size: 14px;
}
ul.conta li a {
     color: #fff;
}

ul.link_menu li {
     display: block;
     text-align: left;
}

ul.link_menu li.active a {
     color: #fa8c17;
}

ul.link_menu li a {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     display: block;
     width: -moz-max-content;
}

ul.link_menu li a:hover {
     color: #fa8c17;
}

.bottom_form {
     display: flex;
     flex-wrap: wrap;
     margin-top: 8px;
}

.bottom_form h3 {
     font-weight: 600;
     font-size: 20px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-top: 12px;
     margin-right: 93px;
     text-transform: uppercase;
     border: inherit;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 50px 0px 19px;
     width: 100%;
     height: 45px;
     background: #fffffff2;
     color: #ccc8c8;
     font-size: 17px;
     font-weight: 300;
     float: left;
     margin-bottom: 20px;
}

.right_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #fa8c17;
     color: #fff;
     padding: 8px 16px;
     font-weight: 500;
     text-transform: uppercase;
     height: 45px;
     position: absolute;
     right: 14px;
}

.right_btn:hover {
     background-color: #ddd;
     transition: ease-in all 0.5s;
     color: #fa8c17;
}

.bottom_form p {
     color: #757575;
     text-align: left;
}

.copyright {
     margin-top: 60px;
     padding-bottom: 20px;
     background-color: #fff;
     border-right: inherit;
     border-left: inherit;
}

.copyright p {
     color: #000;
     font-size: 15px;
     line-height: 5px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
}

.copyright a {
     color: #000;
}

.copyright a:hover {
     color: #fa8c17;
}


/** end footer **/


/** endinner page css **/

.back_re {
     background-color: #2e2d2d;
     margin-top: 1.5em;
}

.back_re .title {
     text-align: center;
}

.back_re .title h2 {
     color: #fff;
     font-size: 30px;
     padding: 40px 0;
     font-weight: 600;
     text-transform: uppercase;
     line-height: 5px;
}

.margin_0 {
     margin: 0 !important;
}

/* Menu Margin */
.container-fluid .nav-item {
     margin-right: 0.5em;
}

.we_box.main i:hover {
     background: #fa8c17;
     color: #fff;
     transition: ease-in all 0.5s;
}



/* .operating-hrs {
     -webkit-columns: 2;
}

 */

.operating-hrs .desc {
     text-align: left;
     color: #757575;
    font-size: 17px;
    line-height: 28px;
}
.operating-hrs {
     display: grid;
     grid-template-columns: 40fr 60fr;
}

.content-spliter {
     display: flex;
}


.content-spliter div {
     border: none !important;
}

.content-spliter div:nth-child(1) {
     flex-basis: 10%;
}

.content-spliter .border {
     flex-basis: 80%;
     border-top: 1px dotted #343a40 !important;;
}

.we_do.slin.detail .row {
     flex-direction: column;
}

.we_do.slin.detail .price-top-title {
    font-weight: bold;
    font-size: 1.7rem;
}
.we_do.slin.detail .row > div {

     margin-bottom: 1.5em;
}

.we_box .prices {
     display: grid;
     grid-template-columns: 80fr 20fr;
     width: 65%;
     margin-top: 1.5em;
     font-size: 1.1em;
}
.we_box .prices li {
     text-align: left;
}

.we_box .prices li .desc li {
     list-style-type: circle;
     margin-left: 1.5em;
     text-align: left;
     font-size: 0.9em;
     
}

.we_box .prices > li {
     border-bottom: 1px dotted rgba(151, 151, 151, 0.973);
     padding: 8px 0px 6px
}

.we_box .prices li:nth-child(even) {
     text-align: right;
}

.we_do.slin.detail .we_box {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.we_do.slin.detail .we_box:first {
     flex-basis: 30%;
}


.back_re {
     margin-top: 2em;
}


.banner_main .banner-img {
     object-fit: cover;
     background-image: url('../images/main-01.jpg');
     height: 100vh;
     background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}

.banner_main {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}

.banner_main img {
     border: 1px solid black;
}

.main-title {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 4px #3c3c3c;
    font-size: 20pt;
    letter-spacing: 4px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.banner_main .banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 480px;
}

.banner_main .banner-img .read_more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px; 
    border-radius: 50px;
    background-color: #1a1a1bc4;
    max-width: 160px;
    height: 42px;
}

.service-title {
     font-size: 0.8em;
     border-radius: 16px;
     background-color: #fff;
     color: #2e2d2d;
     padding: 10px 13px 10px;
     font-weight: 500;
     border: 1px solid #5e5c5c;
}


.xs-btns .link-icons a {
     display: flex;
     flex-direction: column;
     border: 1px solid #999999;
     border-radius: 8px;
     padding-top: 8px;
     padding-bottom: 2px;
     z-index: 5;
}

.xs-btns .link-icons {
     display: none;
}

.store-policy {
     grid-template-rows: repeat(2, auto);
     display: grid;
     font-size: 1.2em;
}

.store-policy .title {
     border-top: 1px dotted rgba(151, 151, 151, 0.973);
     font-weight: bold;
     padding-top: 12px;
}

.store-policy .content {
     padding-bottom: 12px;
}

.promotion-happy-hour {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.egiftrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_m {
    display: flex;
    flex-direction: column;
    border: 1px dotted rgba(151, 151, 151, 0.973);
    align-items: center;
    max-width: 700px;
    margin-top: 10px;
}

#egiftsalonname {
    font-weight: bold;
    font-size: 1.5em;
}

#egiftmessagegroup {
    display: block;
    text-align: start;
    width: 100%;
    padding: 1.5em;
}


#contact-form h4 {
    text-align: start;
}


#contact-form {
    margin-top: 10px;
}

.gift-card-input {
    margin-top: 10px;
    margin-left: 10px;
}

/* .input-container {
    min-width: 470px;
} */

.input-container .sm-desc {
    font-size: 0.9em;
    margin-bottom: 1.1em;
}

.validator {
     color: rgb(255 51 51);
     visibility: visible;
     display: none;
     font-size: 1.3em;
}

.success-payment {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_m > div {
     width: 100%;
     display: inline-block;
     text-align: center;
     font-size: 0.8em;
}

